@use '@styles/colors' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: $color-white;
  background: $color-blue;
  border-radius: 15px;

  &--mini {
    font-size: 1.8rem;
    border-radius: 10px;
  }
}
