$color-blue: #3782da;
$color-blue-dark: #424f5e;

$color-gray-dark-2: #9494a0;
$color-gray-dark-1: #afafaf;
$color-gray: #c1c1cb;
$color-gray-light-1: #ebebf0;
$color-gray-light-2: #f9fafb;

$color-red: #ff5139;
$color-purple: #5a57ff;
$color-white: #ffffff;
